* {
    margin: 0;
    padding: 0;
}

html {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    background-attachment: fixed;
    background-image: url('./Components/images/forest/forest.jpg');
}

.addContainer {
    height: 100%;
    width: 100%;
    background-blend-mode: darken;
}

.selectLabel {
    font-size: '1.2rem';
    border: '1px solid black';
    padding: '10px';
    font-family: 'roboto';
    border-radius: '5px'
}